# Final Project

In [1]:
#IMPORT LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import json

## Motivation

a) Briefly state the nature of your project and why you chose it.  
b) What specific question or goal did you try to address?  
c) Why is this important or interesting to study? Include citations/credits as needed

## Data Sources

Describe the properties of the two dataset(s) or API services you used. Be specific. You
should include (at minimum):  
• How/where did you access the resources? (Include URLs, if appropriate.)  
• What formats were returned/used?  
• Which variables did you think were important and which did you use? (Note that you
need to use multiple data types.)  
• How many records did you retrieve/use?  
• What time periods did they cover?

### County Datasets

#### Alcoholic Beverage Control - Rules and Regulations

Import table of counties where the sale of alcohol is fully legal or legal with expceptions.

In [2]:
wet_counties_page = 'https://www.dfa.arkansas.gov/alcoholic-beverage-control/abc-rules-and-regulations/wet-counties-with-their-respective-exceptions'

wet_counties = pd.read_html(wet_counties_page)[0]

##################

wet_counties['Status'] = wet_counties['Exceptions'].apply(lambda x: 'wet' if (pd.isna(x)) else 'exceptions')
del wet_counties['Exceptions']
wet_counties.head()

     County      Status
0  Arkansas  exceptions
1    Baxter         wet
2    Benton         wet
3     Boone         wet
4   Calhoun  exceptions

#### Census Demographic Data

Fetch county demographic data from census api

In [3]:
#API variables found here (https://api.census.gov/data/2019/acs/acs5/profile/variables.html) 

var_table = {'NAME':'NAME', 
             'DP05_0001E':'Total_population', 
             'DP05_0002E':'Male', 
             'DP05_0003E':'Female', 
             'DP05_0019E':'Under_18', 
             'DP05_0021E':'Over_18', 
             'DP05_0034E':'One_race', 
             'DP05_0035E':'Two_race', 
             'DP05_0037E':'White', 
             'DP05_0038E':'African_American', 
             'DP05_0039E':'Native_American', 
             'DP05_0044E':'Asian', 
             'DP05_0052E':'Pacific_Islander', 
             'DP05_0057E':'Other_Race', 
             'DP05_0070E':'Hispanic', 
             'DP05_0086E':'Total_housing_units'
}

In [5]:
# var_table = {'NAME':'NAME', 
#              'DP05_0001E':'Estimate!!SEX AND AGE!!Total population', 
#              'DP05_0002E':'Estimate!!SEX AND AGE!!Total population!!Male', 
#              'DP05_0003E':'Estimate!!SEX AND AGE!!Total population!!Female', 
#              'DP05_0019E':'Estimate!!SEX AND AGE!!Total population!!Under 18 years', 
#              'DP05_0021E':'Estimate!!SEX AND AGE!!Total population!!18 years and over', 
#              'DP05_0034E':'Estimate!!RACE!!Total population!!One race', 
#              'DP05_0035E':'Estimate!!RACE!!Total population!!Two or more races', 
#              'DP05_0037E':'Estimate!!RACE!!Total population!!One race!!White', 
#              'DP05_0038E':'Estimate!!RACE!!Total population!!One race!!Black or African American', 
#              'DP05_0039E':'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native', 
#              'DP05_0044E':'Estimate!!RACE!!Total population!!One race!!Asian', 
#              'DP05_0052E':'Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander', 
#              'DP05_0057E':'Estimate!!RACE!!Total population!!One race!!Some other race', 
#              'DP05_0070E':'Estimate!!HISPANIC OR LATINO AND RACE!!Total population', 
#              'DP05_0086E':'Estimate!!Total housing units'
# }

In [4]:
import requests
import json

# American Community Survey: 5-Year Estimates: Data Profiles 5-Year (https://api.census.gov/data/2019/acs/acs5/profile/variables.html)

api_key = '0172ae321240a7d4aebabb39c4ab3583a3de7d00'
base_url = 'https://api.census.gov/data/2019/acs/acs5/profile'
api_vars = ','.join(var_table.keys())

##################

#https://stackoverflow.com/questions/23496750/how-to-prevent-python-requests-from-percent-encoding-my-urls/23497912

params = {
    'get': api_vars,
    'for': 'county:*',
    'in': 'state:05',
    'key': api_key,
}
params_str = "&".join("%s=%s" % (k,v) for k,v in params.items())

response = requests.get(base_url, params=params_str)

##################

#load api json response into df
census_df = pd.DataFrame(response.json())


#set first row as column headers
census_df = census_df.rename(columns=census_df.iloc[0]).iloc[1:]
census_df = census_df.rename(var_table, axis='columns')

#split NAME column into two cols and reorder/delete NAME col
##########3
#REVERSE THESE COL NAMES?????
########
census_df[['County_Name','State_Name']] = census_df.NAME.str.split(" County,",expand=True)

cols = (list(census_df.columns.values)[-4:] + list(census_df.columns.values)[1:-4])
census_df = census_df[cols]


census_df.head()

,state,county,County_Name,State_Name,Total_population,Male,Female,Under_18,Over_18,One_race,Two_race,White,African_American,Native_American,Asian,Pacific_Islander,Other_Race,Hispanic,Total_housing_units
1,05,041,Desha,Arkansas,11709,5562,6147,3000,8709,11492,217,5710,5456,33,51,0,242,11709,6324
2,05,049,Fulton,Arkansas,12231,6106,6125,2526,9705,11919,312,11736,58,40,8,9,68,12231,6842
3,05,061,Howard,Arkansas,13311,6388,6923,3457,9854,13017,294,8967,2779,49,36,12,1174,13311,6262
4,05,051,Garland,Arkansas,98555,47295,51260,19969,78586,95830,2725,84807,8092,890,588,0,1453,98555,50869
5,05,093,Mississippi,Arkansas,42126,20436,21690,11094,31032,40775,1351,25411,14212,31,238,33,850,42126,20559

### Traffic Accident Dataset

In [5]:
from pandas.io.json import json_normalize

req_url = "https://geo.dot.gov/server/rest/services/NTAD/Fatality_Analysis_Reporting_System/MapServer/0/query?where=STATENAME%20%3D%20'ARKANSAS'&outFields=*&outSR=4326&f=json"

response = requests.get(req_url)

##################

data = response.json()['features']
traffic_df = json_normalize(data, record_prefix='attributes')

##################

traffic_df.columns = traffic_df.columns.str.lstrip('attributes.')
traffic_df.head()

,OBJECTID,Unnamed__0,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,...,CF1,CF1NAME,CF2,CF2NAME,CF3,CF3NAME,FATALS,DRUNK_DR,geometry.x,geometry.y
0,1829,1828,5,Arkansas,50001,1,1,0,1,1,...,0,None,0,None,0,None,1,1,-92.469881,33.535442
1,1830,1829,5,Arkansas,50002,1,1,0,0,1,...,0,None,0,None,0,None,1,0,-93.027575,36.298333
2,1831,1830,5,Arkansas,50003,1,1,0,0,1,...,0,None,0,None,0,None,1,0,-92.953992,35.244839
3,1832,1831,5,Arkansas,50004,2,2,0,0,3,...,0,None,0,None,0,None,1,0,-90.234211,35.203678
4,1833,1832,5,Arkansas,50005,2,2,0,0,3,...,0,None,0,None,0,None,1,1,-92.387486,34.890069

## Data Processing

Merge and store tables for county data and traffic data

In [17]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: jovyan@si330'

In [18]:
import psycopg2
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('postgres://jovyan:si330studentuser@localhost:5432/si330')

In [19]:
%sql drop table if exists counties
%sql drop table if exists traffic_accidents

 * postgres://jovyan:***@localhost:5432/si330
Done.
 * postgres://jovyan:***@localhost:5432/si330
Done.

[]

In [21]:
# merge
counties_df = census_df.merge(wet_counties, left_on = 'County_Name',
                    right_on = 'County', 
                    how = 'left')


# replace empty space with NAN
counties_df['Status'] = counties_df['Status'].replace(np.nan, 'dry')

counties_df = counties_df.drop(columns=['County'])

# counties_df.head()

In [22]:
with engine.connect() as conn:
    counties_df.to_sql("counties", con=conn)

In [23]:
with engine.connect() as conn:
    traffic_df.to_sql("traffic_accidents", con=conn)

## Analysis and Visualization

In [ ]:
    result = conn.execute("""SELECT state, COUNT(*)
                             FROM occurrences
                             WHERE state IS NOT Null
                             GROUP BY state
                             ORDER BY COUNT(*) DESC
                             LIMIT 5
                             """)
    for row in result:
        print(row)

In [ ]:
#proportion of drunk driving accidents per capita by county
#group by status

In [1]:
#DUI accidents over the year
#group by status

In [ ]:
#MAP OF DUIs
#group by status

In [ ]:
# traffic_df['DAY']
# pd.to_datetime(traffic_df[['YEAR', 'MONTH', 'DAY','HOUR','MINUTE']])

## Testing/Documentation